@page
@using ZimskaLiga.Models
@{
    ViewData["Title"] = "Layout";
}

<html>
<head>

    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <h1>Pozdravljeni v matriki</h1>
</body>
</html>